@charset "UTF-8";
/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------*/

.App{

}
body{
  background: url('images/fon2.jpg') 50% 50%/ auto 140% no-repeat fixed,
  linear-gradient(90deg, rgba(77,89,142,1) 0%, rgba(51,51,99,1) 11%, rgba(42,49,85,1) 15%, rgba(0,0,0,1) 50%, rgba(42,49,85,1) 85%, rgba(51,51,99,1) 89%, rgba(77,89,142,1) 100%);
  width: 100vw;
  height: 100vh;
}
.Spisok{
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0 auto;
}